@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Autor"]</p>

<address>
    <strong>More Information: </strong>
    <a href="https://www.linkedin.com/in/gabriel-h-santos-9a6185100/">Linkedin</a>,
    <a href="https://github.com/gabrielhsantos">Github</a></br>
    <strong>Email: </strong>@ViewData["e-mail"]
</address>

